/share/applications
/share/bin/__pycache__
/share/emmylua_ls
/share/TelegramDesktop
/share/flatpak
/share/fonts/.uuid
/share/hyprland
/share/nvim
/share/nwg-look
/share/pnpm
/share/PrismLauncher
/share/recently-used.xbel
/share/Steam
/share/Trash
/share/vulkan
/share/zoxide/**
!/share/zoxide/db.zo
state
